@page "/products-list/{category}"

@inject IProductsService ProductService

@if (Products.Count() <= 0)
{
    <span class="h5">Loading...</span>
}
else
{
    <div class="row">
        @foreach (var item in Products)
        {
           <ProductItemCardComponent Product="item" />
        }
    </div>
}

@code {
    private IEnumerable<MultimediaProductModel> Products { get; set; } = new List<MultimediaProductModel>();

    [Parameter]
    public string Category { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(Category) is false)
        {
            this.Products = await ProductService.GetProductsByCategory(Category);
        }
    }
}
